* {
    box-sizing: border-box;
}
body {
    
}
header {
    background: #669966;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    padding: 30px 30px;
}
h1 {
    text-align: center;
}
.bigBox {
    display: flex;    
    align-items: flex-end;
}
.littleBox {    
    /* display: flex; */
    flex-direction: row;
    /* align-items: baseline; */
    box-sizing: content-box;
    width: 100%

}

.lineItemOne {
    display: flex;    
    /* box-sizing: content-box; */
    align-content: stretch;
    width: 100%;
}
.date .desc .incExp .amount .balance {
    display: block;
    background: #669966;
}
#container {
    background: #669999;
    border-radius: 3px;
    padding: 10px;
    border: .5px solid black;
    margin-top: 0%;
    margin-bottom: 0%;
}
.desc {
    flex: 1;
    
    /* width: 55%; */
}
textarea {
    width: 55%;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;

}
input[type=number] {
    width: 100%;
    box-sizing: border-box;
}
/* .amount {
    content: "$";
} */